<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration SYSTEM "hibernate.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">dialect.SQLiteDialect</property>
		<property name="connection.url">jdbc:sqlite:w2o_data.db</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<mapping resource="HibernateMapping.hbm.xml" />
	</session-factory>

</hibernate-configuration>  